.App {
  text-align: center;
  overflow-x: hidden;
}

#content-header {
    height: 10vh;
}

.content-body {
    height: 85vh;
}

#content-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background: black;
}

.body-main-header {
    text-transform: uppercase;
}

.site-title {
    cursor: pointer;
}

.location-card {
    cursor: pointer;
}

/* Buttons */

.button-site-header {
    border: none;
    background: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.button-no-style {
    color: white;
    border: none;
    background: none;
}