.App {
  text-align: center;
  overflow-x: hidden;
}

#content-header {
    height: 10vh;
}

.content-body {
    height: 85vh;
}

#content-footer {
    height: 5vh;
    background: black;
}

.body-main-header {
    text-transform: uppercase;
}

/* Buttons */

.button-no-style {
    color: white;
    border: none;
    background: none;
}